
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #000;
    font-family: sans-serif;
}


.mx-10{
    margin-left: 10%;
    margin-right: 10%;
}

th, td {
    padding-left: 15px;
    padding-bottom: 3px;
    text-align: left;
  }


@media only screen and (max-width: 767px) {
    
#gameFrame {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
 
}

#gamediv {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; 

}

}

a {
    color: silver;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    
  }
  a:hover {
    color: silver;
    background-color: transparent;
    text-decoration: underline;
  }

.ths { 
  font-size:15px;
 }

form {
  font-family: 'Short Stack', cursive;
  background-color: blanchedalmond;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}